@using PermissionBasedAuz.Shared.Enums
@model CheckoutVM
    <!-- Page Header Start -->
<div class="container-fluid bg-secondary mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 300px">
        <h1 class="font-weight-semi-bold text-uppercase mb-3">Checkout</h1>
        <div class="d-inline-flex">
            <p class="m-0"><a href="">Home</a></p>
            <p class="m-0 px-2">-</p>
            <p class="m-0">Checkout</p>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Checkout Start -->
<div class="container-fluid pt-5">
    <form asp-action="Checkout" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div class="mb-4">
                <h4 class="font-weight-semi-bold mb-4">Billing Address</h4>
                <div class="row">
                   
                    <div class="col-md-6 form-group">
                        <label>Shipping Adress</label>
                        <input class="form-control" type="text" asp-for="@Model.Address" placeholder="123 Street">
                            <span asp-validation-for="@Model.Address" class="text-danger"></span>
                    </div>             
                </div>
                <div class="row">
                   
                    <div class="col-md-6 form-group">
                        <label>City</label>
                        <input class="form-control" type="text" asp-for="@Model.City" placeholder="city name">
                            <span asp-validation-for="@Model.City" class="text-danger"></span>
                    </div>             
                               
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Mobile Number</label>
                        <input class="form-control" type="text" asp-for="@Model.Phone">
                            <span asp-validation-for="@Model.Phone" class="text-danger"></span>
                    </div>
                </div>
            </div>
           
        </div>
        <div class="col-lg-4">
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                </div>
                <div class="card-body">
                    <h5 class="font-weight-medium mb-3">Products</h5>
                    @foreach (var product in Model.CartItems)
                    {
                        <div class="d-flex justify-content-between">
                            <p>@product.VariantName</p>
                            <p>@product.Quantity</p>
                            <p>$@product.TotalPrice</p>
                        </div>
                    }
                  
                    <hr class="mt-0">
                    <div class="d-flex justify-content-between mb-3 pt-1">
                        <h6 class="font-weight-medium">Subtotal</h6>
                        <h6 class="font-weight-medium">$@Model.SubTotal</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">$@Model.Shipping</h6>
                    </div>
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <div class="d-flex justify-content-between mt-2">
                        <h5 class="font-weight-bold">Total</h5>
                        <h5 class="font-weight-bold">$@Model.TotalAmount</h5>
                    </div>
                </div>
            </div>
            <div class="card border-secondary mb-5">
                <div class="card-header bg-secondary border-0">
                    <h4 class="font-weight-semi-bold m-0">Payment</h4>
                </div>
                <div class="card-body">
                        @foreach(var method in Enum.GetValues(typeof(PaymentMethod)))
                        {
                        <div class="form-group">

                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" asp-for="@method" value="@method">
                                <label class="custom-control-label" asp-for="@method">@method.ToString()</label>
                            </div>
                        </div>
                        }

                           
                </div>
                <div class="card-footer border-secondary bg-transparent">
                    <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3">Place Order</button>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>
<!-- Checkout End -->
@section Scripts {
     <partial name="_ValidationScriptsPartial" />
 }