@model IEnumerable<ProductWithHotOffer>

<div id="header-carousel" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">

        @for (int i = 0; i < Model.Count(); i++)
        {
            var product = Model.ElementAt(i);

            <div class="carousel-item @(i == 0 ? "active" : "")" style="height: 410px;">
                <img class="img-fluid"
                     src="@ImageSettings.GetImageUrl(ImageSettings.ProudctsImagesFolder, product.MainImageUrl)"
                     alt="Image">

                <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                    <div class="p-3" style="max-width: 700px;">
                        <h4 class="text-light text-uppercase font-weight-medium mb-3">
                            @product.Discount% Off
                        </h4>
                        <h3 class="display-4 text-white font-weight-semi-bold mb-4">
                            @product.Name
                        </h3>
                        <a asp-action="ProductDetails" asp-route-productId="@product.ProductId" asp-route-variantId="@product.Id" class="btn btn-light py-2 px-3">Shop Now</a>
                    </div>
                </div>
            </div>
        }
    </div>

    <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-prev-icon mb-n2"></span>
        </div>
    </a>

    <a class="carousel-control-next" href="#header-carousel" data-slide="next">
        <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-next-icon mb-n2"></span>
        </div>
    </a>

</div>
