@using MultiVendorECommerce.Areas.Admin.ViewModels
@using MultiVendorECommerce.Shared.Enums
@model List<InternalUserVM>
@{
    ViewData["Title"] = "Internal Users";
}
<h2>Internal Users</h2>
<a asp-action="AddInternalUser" class="btn btn-success mb-3">Create New User</a>
<table class="table">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.Email</td>
                <td>@user.Userstatus.ToString()</td>
                <td>
                    <a asp-area="Admin" asp-action="UpdateUserRoles" asp-route-id="@user.Id" class="btn btn-primary">Manage Roles</a>
                    @if(user.Userstatus==Userstatus.Suspended)
                    {
                        <form class="d-inline" asp-action="ActivateUser" asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-primary ">Activate</button>
                        </form>
                    }
                    else
                    {
                        <form class="d-inline" asp-action="SuspendUser" asp-route-id="@user.Id">
                            <button type="submit" class="btn btn-danger " >Suspend</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

